
/* ****************************
* Custom Css
*/****************************
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #f000;
	color: #fff;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 10px;
	vertical-align: middle;
}